---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const puzzles = await getCollection("puzzle");
const tags = [...new Set(puzzles.flatMap((puzzle) => puzzle.data.tags))];
---

<BaseLayout title="Tag Index">
  <h3>Tags:</h3>
  <ul>
    {
      tags.map((tag) => (
        <li>
          <a href={`/tags/${tag}`}>{tag}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
