---
import katex from "katex";

// const formula = await Astro.slots.render("default");
const { formula = "" } = Astro.props;
const html = katex.renderToString(formula, { throwOnError: false });

const { center } = Astro.props;
---

{
  center ? (
    <div class="text-center">
      <span set:html={html} />
    </div>
  ) : (
    <span set:html={html} />
  )
}

<style>
  .text-center {
    display: flex;
    align-content: center;
  }
</style>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.css"
  integrity="sha384-WsHMgfkABRyG494OmuiNmkAOk8nhO1qE+Y6wns6v+EoNoTNxrWxYpl5ZYWFOLPCM"
  crossorigin="anonymous"
/>
